
.register-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
padding: 70px 30px;
}
.register-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.register-box h1{
    color: red;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
 .register-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.register-box input {
  width: 100%;
  margin-bottom: 20px;
}

.register-box button {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
}

.register-box .irALogin {
 color: yellow;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

}